/device/
/backup/
/key/
/keys/
/log/
/pupirka.config.json
/pupirka_darwin_amd64
/pupirka_freebsd_386
/pupirka_freebsd_amd64
/pupirka_freebsd_arm
/pupirka_linux_386
/pupirka_linux_amd64
/pupirka_linux_arm
/pupirka_linux_mips
/pupirka_linux_mips64
/pupirka_linux_mips64le
/pupirka_linux_mipsle
/pupirka_linux_s390x
/pupirka_netbsd_386
/pupirka_netbsd_amd64
/pupirka_netbsd_arm
/pupirka_openbsd_386
/pupirka_openbsd_amd64
/pupirka_windows_386.exe
/pupirka_windows_amd64.exe
/release/
/pupirka
/_device/
